<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Phishing Website Detector</title>
</head>
<body>
    <nav style="background-color: #74787c; color: white; padding: 10px;">
        <h1 style="margin: 0;">Phishing Website Detection</h1>
    </nav>

    <div style="padding: 20px;">
        <h2>Welcome to Phishing Website Detector!</h2>
   
    </div>

    <div style="padding: 20px;">
        <form method="POST" action="/predictdata">
            <label for="qty_slash_url">Qty Slash URL:</label>
            <input type="text" name="qty_slash_url"><br><br>

            <label for="qty_underline_directory">Qty Underline Directory:</label>
            <input type="text" name="qty_underline_directory"><br><br>

            <label for="file_length">File Length:</label>
            <input type="text" name="file_length"><br><br>

            <label for="length_url">Length URL:</label>
            <input type="text" name="length_url"><br><br>

            <label for="time_domain_activation">Time Domain Activation:</label>
            <input type="text" name="time_domain_activation"><br><br>

            <label for="qty_dot_domain">Qty Dot Domain:</label>
            <input type="text" name="qty_dot_domain"><br><br>

            <label for="asn_ip">ASN IP:</label>
            <input type="text" name="asn_ip"><br><br>

            <label for="ttl_hostname">TTL Hostname:</label>
            <input type="text" name="ttl_hostname"><br><br>

            <label for="time_domain_expiration">Time Domain Expiration:</label>
            <input type="text" name="time_domain_expiration"><br><br>

            <label for="time_response">Time Response:</label>
            <input type="text" name="time_response"><br><br>

            <label for="qty_hyphen_url">Qty Hyphen URL:</label>
            <input type="text" name="qty_hyphen_url"><br><br>

            <label for="qty_percent_params">Qty Percent Params:</label>
            <input type="text" name="qty_percent_params"><br><br>

            <label for="qty_vowels_domain">Qty Vowels Domain:</label>
            <input type="text" name="qty_vowels_domain"><br><br>

            <label for="qty_hyphen_params">Qty Hyphen Params:</label>
            <input type="text" name="qty_hyphen_params"><br><br>

            <label for="qty_dot_url">Qty Dot URL:</label>
            <input type="text" name="qty_dot_url"><br><br>

            <label for="qty_equal_url">Qty Equal URL:</label>
            <input type="text" name="qty_equal_url"><br><br>

            <label for="qty_nameservers">Qty Nameservers:</label>
            <input type="text" name="qty_nameservers"><br><br>

            <label for="qty_mx_servers">Qty MX Servers:</label>
            <input type="text" name="qty_mx_servers"><br><br>

            <label for="qty_ip_resolved">Qty IP Resolved:</label>
            <input type="text" name="qty_ip_resolved"><br><br>

            <label for="qty_slash_params">Qty Slash Params:</label>
            <input type="text" name="qty_slash_params"><br><br>

            <label for="qty_redirects">Qty Redirects:</label>
            <input type="text" name="qty_redirects"><br><br>

            <label for="qty_tld_url">Qty TLD URL:</label>
            <input type="text" name="qty_tld_url"><br><br>

            <label for="tls_ssl_certificate">TLS/SSL Certificate:</label>
            <input type="text" name="tls_ssl_certificate"><br><br>

            <label for="qty_underline_url">Qty Underline URL:</label>
            <input type="text" name="qty_underline_url"><br><br>

            <label for="domain_spf">Domain SPF:</label>
            <input type="text" name="domain_spf"><br><br>

            <input type="submit" value="Predict">
        </form>
    </div>

    {% if results %}
    <div style="padding: 20px;">
        <h2>Prediction Results:</h2>
        <p>{{ final_results }}</p>
    </div>
    {% endif %}

</body>
</html>
